.support__title {
    font-size: 50px;
    font-weight: 900;
    color: #fff;

}

.support__para {
    color: #898CA9;
    font-size: 16px;
    line-height: 24px;
    padding: 32px 0px;
}

.support__button {
    padding: 20px 33px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;

}

.support__view {
    padding-top: 280px;
}

.image__box--support {
    padding-top: 180px;
}

.support__image {
    width: 70%;
}

