.button__large {
    padding: 20px 33px;
    color: white;
    border: none;
    background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    cursor: pointer;
}